@charset "ISO-8859-1";
/* menu bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: 1px solid #bbb;
  border-left: none;
}


li:nth-last-child(2) {
  border-right: none;
}


li:nth-last-child(3) {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 18px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #36606e;
}
/**/

/* background */
html {
  background: url(background.png) no-repeat center fixed;
  background-size: cover;
}
/**/

/*menu bar and main div position*/
div#menu {
	margin: 0 auto;
	border-radius: 1px;
 	background-color: #333;
    padding: 5px;
    width: 50%;
}

div#main {
	margin: 0 auto;
	border-radius: 5px;
 	background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    width: 50%;
}

/* tabela view*/

table.view {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-radius: 4px;
}
table.view th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #457b8d;
	color: white;
	font-size: 20px;
}

table.view td, table.view th {
  border: 1px solid #0c147e;
  padding: 8px;
}

table.view tr:nth-child(even){background-color: #aac9e1;}

table.view tr:hover {background-color: #5ea8c0;}

/* add button*/
button.add {
	width: 100%;
	background-color: #36606e;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 25px;
}

button.add:hover {
	background-color: #21505f;
}
/* edit button*/
input[type="button"].edit {
	width: 100%;
	height: 100%;
  	background-color: #333;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 20px;
	color: white;
}

input[type="button"].edit:hover {
	background-color: #111;	
}