@charset "ISO-8859-1";


/* edit div */

div.input-group {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 0 5px 10px;
  width: 450px;
}

label {
  display: block;
  margin-bottom: 2px;
  font-size: 15px;
}

div.input-group input[type=text], div.input-group input[type=password] {
  background: #fff;
  border: 1px solid #999;
  font-size: 18px;
  height: 33px;
  margin: 0;
  padding: 0 0 0 5px;
  width: 100%;
}
div.input-group select {
	  background: #fff;
  border: 1px solid #999;
  font-size: 18px;
  height: 33px;
  margin: 0;
  padding: 0 0 0 5px;
  width: 102%;		
}

div.input-group textarea {
	  background: #fff;
  border: 1px solid #999;
  font-size: 18px;
  height: 120px;
  margin: 0;
  padding: 0 0 0 5px;
  width: 100%;		
  resize: none;
}

.error-message {
  color: #c40031;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  margin: 5px 0 0;
}

.input-group .error-message {
  display: none;
}


/* Error Styling */

.error {
  color: #c40031;
}

.error .error-message {
  display: inline-block;
}


/*
	SVE OKO ORGANIZACIJE
*/
/* slika org*/
img#img {
	display: inline;
	padding-left: 100px;
	height: 300px;
	width: 300px;
}

/*tabela org zbog slike */
table.org, table.org tr, table.org td {
    border-collapse: collapse;
 	border: none;

}

input[type="file"] {
	display: none;	
}

label.fileInput {
	width: 92%;
	background-color: #006f39;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
}

label.fileInput:hover {
	background-color: #00592e;
}

input[type="button"]#delete_img {
	width: 101%;
	background-color: #7c3113;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
}

input[type="button"]#delete_img:hover {
	background-color: #59240f;
}


/* checkboxes */

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* turn vm on and off buttons*/
input[type="button"]#activation.on {
	width: 100%;
	background-color: #006f39;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 25px;
}

input[type="button"]#activation.off {
	width: 100%;
	background-color: #7c3113;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 25px;
}


/* submit changes button*/

input[type="submit"] {
	width: 100%;
	background-color: #006f39;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 25px;
}

input[type="submit"]:hover {
	background-color: #00592e;
}


/* delete button*/

input[type="button"].delete {
	width: 100%;
	background-color: #7c3113;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 25px;
}

input[type="button"].delete:hover {
	background-color: #59240f;
}

/* submit changes button*/

input[type="button"].return {
	width: 100%;
	background-color: #36606e;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 25px;
}

input[type="button"].return:hover {
	background-color: #21505f;
}

/* vm activity table */


table#activityTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-radius: 4px;
}
table#activityTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: centre;
	width: 20%;
	background-color: #457b8d;
	color: white;
	font-size: 20px;
}

table#activityTable td, table#activityTable th {
  border: 1px solid #0c147e;
  padding: 8px;
}


input[type="button"].deleteActivity {
	width: 100%;
	height: 100%;
  	background-color: #333;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 20px;
	color: white;
}

input[type="button"].deleteActivity:hover {
	background-color: #111;	
}


/* error message generic */

h2#error {
  padding: 20px;
  text-align: center;
  background: #7c3113;
  color: white;
  font-size: 25px;
}

h2#success {
  padding: 20px;
  text-align: center;
  background: #006f39;
  color: white;
  font-size: 25px;
}


/* invoice */

table.invoice {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-radius: 4px;
}
table.invoice th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: centre;
	width: 20%;
	background-color: #457b8d;
	color: white;
	font-size: 20px;
}

table.invoice td, table.invoice th {
  border: 1px solid #0c147e;
  padding: 8px;
}


table.invoice td input {
  width: 65%;
}