@charset "ISO-8859-1";

table.filter {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-radius: 4px;
}
table.filter tr.headers th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #457b8d;
	color: white;
	font-size: 20px;
}

table.filter tr.settings th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #6fa7b9;
	color: white;
	font-size: 15px;
}

table.filter td, table.filter th {
  border: 1px solid #0c147e;
  padding: 8px;
}

table.filter tr:nth-child(odd){background-color: #aac9e1;}

table.filter tr:hover {background-color: #5ea8c0;}

tr.settings input.search{
	
	width: 99%;
	
}

tr.settings input.filter{
	
	width: 45%;
}

table.filter tr.selected {
	background-color: #00dd80;
}