@charset "ISO-8859-1";

html {
  background: url(loginScreen.png) no-repeat center fixed;
  background-size: cover;
}

html, body {
	width: 100%;
    overflow: hidden;
}

div#form {
	margin: 0 auto;
	border-radius: 25px;
 	background-color: #f2f2f2;
    padding: 20px;
    width: 25%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
    overflow: hidden;
}

table {
	margin-left: auto;
	margin-right: auto;
}

input[type=text],input[type=password]  {
width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	font-size: 20px;
}
 
input[type=submit] {
  width: 100%;
  background-color: #36606e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	font-size: 20px;
}

input[type=submit]:hover {
  background-color: #21505f;
}

/* error message - from style_edit*/

input[type=text].error ,input[type=password].error {
	border-color: #dd0037;
}

.error-message {
  color: #dd0037;
  display: inline-block;
  font-size: 18px;
  line-height: 15px;
  margin: 5px 0 0;
}

.input-group .error-message {
  display: none;
}


/* Error Styling */

.error label {
  color: #c40031;
}

.error .error-message {
  display: inline-block;
}